body {
	margin: 0;
	background: #000;
	position: relative;
	min-height: 100vh;
}

canvas {
	display: block;
}

.devider {
	position: absolute;
	top: 50%;
	width: 100vw;
	height: 3px;
	background-color: #fff;
	transform: translateY( -50% );
}

a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: #fff;
	font-size: 3em;
	margin: 0;
}

button {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate( -50%, -50% );
	background-color: transparent;
	border: 3px solid #fff;
	color: #fff;
	font-size: 1.4em;
	padding: 0.4em;
	cursor: pointer;
}

button.hide { 
	display: none;
}

.hidden {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.hidden.show {
	opacity: 1;
}